# L2 TAP currently supports Ethernet only
CONFIG_EXAMPLE_CONNECT_ETHERNET=y
CONFIG_ETHERNET_INTERNAL_SUPPORT=y
CONFIG_ETHERNET_PHY_RTL8201=y
CONFIG_ETHERNET_MDC_GPIO=23
CONFIG_ETHERNET_MDIO_GPIO=18
CONFIG_ETHERNET_PHY_RST_GPIO=-1
CONFIG_ETHERNET_PHY_ADDR=0
CONFIG_ETHERNET_PHY_INTERFACE_RMII=y
CONFIG_ETHERNET_RMII_CLK_INPUT=y
CONFIG_ETHERNET_RMII_CLK_GPIO=0
CONFIG_ETHERNET_SPI_SUPPORT=n
CONFIG_EXAMPLE_CONNECT_WIFI=n

# Enable L2 TAP
CONFIG_ESP_NETIF_L2_TAP=y
CONFIG_ESP_NETIF_L2_TAP_MAX_FDS=6

# L2 TAP sniffer defaults
CONFIG_EXAMPLE_SNIFFER_PAYLOAD_PREVIEW_BYTES=32
CONFIG_EXAMPLE_SNIFFER_MAX_FRAME_LEN=1600
CONFIG_EXAMPLE_SNIFFER_STATS_PERIOD_MS=5000
CONFIG_EXAMPLE_SNIFFER_RING_BUFFER_SIZE=16384
CONFIG_EXAMPLE_SNIFFER_ETH_POWER_GPIO=12
CONFIG_EXAMPLE_SNIFFER_ETH_POWER_UP_DELAY_MS=100
CONFIG_EXAMPLE_SNIFFER_ETH_LINK_UP_TIMEOUT_MS=15000

# T-ETH-Lite-ESP32 uses 16MB flash
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
